/* .col-sm-4 {
    border: 1px solid brown;
} */

.box {
    /* height: 150px;
    width: 150px; 
    margin-bottom: 5px; */
    
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.sixboxesholder {
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; */

    max-width: 600px; 
    margin: 0 auto
}

.mainconsole {
    text-align: center;
    background-color: cornflowerblue;   
    height: 20%;
    color: white;
}

.buttonconsole {
    text-align: center;
    background-color: white;
    font-size: 17px;
}

.rgbanswer {
    font-size: 33px;
}

body {
    background-color: black;
    font-family: 'Indie Flower', cursive;
}

p {
    font-size: 24px;
    margin: 0;
}

.newcolors {
    position: relative;
    right: 20%;
}

.easybutton {
    position: relative;
    left: 10%;
}

.hardbutton {
    position: relative;
    left: 12%;
}

button {
    font-family: 'Indie Flower', cursive;
    background: white;
    border: 0px solid white;
}

.disabledbox {
    background: black;
    pointer-events:none;
}